@model IEnumerable<Booking.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("criar novo", "Create")
</p>

<div id="pesquisa">
    @using (Html.BeginForm("Index", "Hotel", FormMethod.Post))
    {
        <input type="text" placeholder="Insira o hotel a procurar" name="texto" />
        <input type="submit" name="Procurar" value="Procurar" />

    }


</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomeHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numEstrelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantQuarto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayNameFor(model => model.nomeHotel)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.numEstrelas)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.Morada)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.Localidade)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.codPostal)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.Pais)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.quantQuarto)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.Descricao)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IDHotel }) |
        @Html.ActionLink("Details", "Details", new { id = item.IDHotel }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IDHotel })
    </td>
</tr>
    }

</table>
